service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin;
    }
    match /dishes/{dishId}{
      allow read, write: if isAdmin();
    	allow get: if request.auth.uid != null;
    	match /messages/{messageId} {
      	allow create: if request.auth.uid == request.resource.data.uid 
          && exists(/databases/$(database)/documents/dishes/$(dishId));
      	allow read: if request.auth.uid != null;
    	}
    }
    match /counter/{document=**} {
      allow read, write: if isAdmin();
    }
    match /counter/access/shards/{shardId} {
      allow read, update: if request.auth.uid != null;
    }
  }
}